 .button{
      width: 100px;
      display: inline-block;
      padding: 10px 20px; 
      background-color: #007bff; 
      color: #fff; 
      text-align: center;
      text-decoration: none;
      border: 3px solid #434444; 
      cursor: pointer;
      margin-bottom: 2px;
      font-size: 120%;
    
    }

    .button:hover {
      background-color: #9823ce; 
      color:rgb(22, 233, 39);
    }

    .button:active {
      background-color: #ffff00; 
      color: rgb(236, 77, 77);
    }
  
    .ph__one{
      background-color: green;
      color: #fff;
    }

    .ph__two{
      background-color: rgb(179, 179, 179);
      color: #000;
    }

    .ph__three{
      background-color: rgb(223, 255, 82);
      color: red;
    }

    .ph__four{
      background-color: rgb(91, 129, 255);
      color: yellow;
    }

    .ph__five{
      background-color: rgb(214, 61, 15);
      color:gainsboro;
    }
    h1{
      text-align: center;
      font-size: 24px;
    }
    .curs{
      font-style:italic;
    }
    h3{
      text-align: center;
      font-size: 144%;
    }
    .fontweidht{
      font-weight: 700;
    }
    .texttran{
      text-transform: uppercase;
    }

    .container{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  @media (min-width: 992px) {
    
      .col-lg-1 {
       flex-basis: 8.33%;
      }
      .col-lg-2 {
       flex-basis: 16.66%;
      }
      .col-lg-3 {
       flex-basis: 25%;
      }
      .col-lg-4 {
       flex-basis: 33.33%;
      }
      .col-lg-5 {
       flex-basis: 41.66%;
      }
      .col-lg-6 {
       flex-basis: 50%;
      }
      .col-lg-7 {
       flex-basis: 58.33%;
      }
      .col-lg-8 {
       flex-basis: 66.66%;
      }
      .col-lg-9 {
       flex-basis: 75%;
      }
      .col-lg-10 {
       flex-basis: 83.33%;
      }
      .col-lg-11 {
       flex-basis: 91.66%;
      }
      .col-lg-12 {
       flex-basis: 100%;
      }
     }
     
 
     @media (min-width: 768px) and (max-width: 992px){
      
      .col-md-1 {
       flex-basis: 8.33%;
      }
      .col-md-2 {
       flex-basis: 16.66%;
      }
      .col-md-3 {
       flex-basis: 25%;
      }
      .col-md-4 {
       flex-basis: 33.33%;
      }
      .col-md-5 {
       flex-basis: 41.66%;
      }
      .col-md-6 {
       flex-basis: 50%;
      }
      .col-md-7 {
       flex-basis: 58.33%;
      }
      .col-md-8 {
       flex-basis: 66.66%;
      }
      .col-md-9 {
       flex-basis: 75%;
      }
      .col-md-10 {
       flex-basis: 83.33%;
      }
      .col-md-11 {
       flex-basis: 91.66%;
      }
      .col-md-12 {
       flex-basis: 100%;
      }
     }
     
     
     @media (max-width: 768px){
      .col-mn-1 {
       flex-basis: 8.33%;
      }
      .col-mn-2 {
       flex-basis: 16.66%;
      }
      .col-mn-3 {
       flex-basis: 25%;
      }
      .col-mn-4 {
       flex-basis: 33.33%;
      }
      .col-mn-5 {
       flex-basis: 41.66%;
      }
      .col-mn-6 {
       flex-basis: 50%;
      }
      .col-mn-7 {
       flex-basis: 58.33%;
      }
      .col-mn-8 {
       flex-basis: 66.66%;
      }
      .col-mn-9 {
       flex-basis: 75%;
      }
      .col-mn-10 {
       flex-basis: 83.33%;
      }
      .col-mn-11 {
       flex-basis: 91.66%;
      }
      .col-mn-12 {
       flex-basis: 100%;
      }
     }
  h1{
          text-align: center;
          font-size: 22px;
      }
      a{
          font-style: italic;
      }
      .content{
          text-align: center;
         }
    article{
      font-size: 120%;
    }
    h3{
      font-size: 120%;
    }
  
          li{
              list-style-type: none;
          }