 .button{
      width: 100px;
      display: inline-block;
      padding: 10px 20px; 
      background-color: #007bff; 
      color: #fff; 
      text-align: center;
      text-decoration: none;
      border: 3px solid #434444; 
      cursor: pointer;
      margin-bottom: 2px;
      font-size: 120%;
    
    }

    .button:hover {
      background-color: #9823ce; 
      color:rgb(22, 233, 39);
    }

    .button:active {
      background-color: #ffff00; 
      color: rgb(236, 77, 77);
    }
  
    .ph__one{
      background-color: green;
      color: #fff;
    }

    .ph__two{
      background-color: rgb(179, 179, 179);
      color: #000;
    }

    .ph__three{
      background-color: rgb(223, 255, 82);
      color: red;
    }

    .ph__four{
      background-color: rgb(91, 129, 255);
      color: yellow;
    }

    .ph__five{
      background-color: rgb(214, 61, 15);
      color:gainsboro;
    }
    h1{
      text-align: center;
      font-size: 24px;
    }
    .curs{
      font-style:italic;
    }
    h3{
      text-align: center;
      font-size: 144%;
    }
    .fontweidht{
      font-weight: 700;
    }
    .texttran{
      text-transform: uppercase;
    }