.gr{
  background-color: gray;
  color: #43c2fd;
}

        .wh{
background-color: #fff;
color: black;
}

table{
    border: 1px solid black;
    text-align: center;

}

.bor{
    border: 1px solid black;
}



td{
    border: 1px solid black;
    padding:  5px;
}
h1{
    text-align: center;
    font-size: 22px;
}
.famil{
    font-style:italic ;
}
h2{
    text-align: center;
}
.table{
    background: green;
    font-weight: 700;
}
.right{
    text-align: right;
}
