.gr{
  background-color: gray;
  color: #43c2fd;
}

        .wh{
background-color: #fff;
color: black;
}

table{
    border: 1px solid black;
    text-align: center;

}

.bor{
    border: 1px solid black;
}



td{
    border: 1px solid black;
    padding:  5px;
}
h1{
    text-align: center;
    font-size: 22px;
}
.famil{
    font-style:italic ;
}
h2{
    text-align: center;
}
.table{
    background: green;
    font-weight: 700;
}
.right{
    text-align: right;
}


@media (min-width: 992px) {
    .top-lg-3{
      font-size: 1.3em;
    }
    .nontop-lg-3{
      font-size: 1.2em;
    }
}
 
    @media (min-width: 768px) and (max-width: 992px) {
    .top-md-6{
      font-size:1.2em;
    }
    .nontop-md-6{
      font-size:1.1em;
    }
}
    @media (max-width:  768px) {
    .top-mn-12{
      font-size: 1.1em;
    }
}