ul{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

}

@media (min-width: 992px) {
    
    a{
        display:inline-block;
    }
    .col-lg-3 {
    flex-basis: 25%;
    }
    .col-lg-6 {
    flex-basis: 50%;
    }
    
    .col-lg-12 {
    flex-basis: 100%;
    }
    }
@media (min-width: 768px) and (max-width: 992px) {
   
    .col-md-3 {
    flex-basis: 25%;
    }
    .col-md-6 {
    flex-basis: 50%;
    }
        
    .col-md-12 {
    flex-basis: 100%;
    }
    }
@media (max-width:  768px) {
   
    .col-mn-3 {
    flex-basis: 25%;
    }
    .col-mn-6 {
    flex-basis: 50%;
    }
        
    .col-mn-12 {
    flex-basis: 100%;
    }
    }

h1 {
    text-align:center;
    font-size: 24px;
}
p{
    font-size: 120%;
}
.link__one:link {
        
        color: rgb(182, 107, 243)
      }

      .link__one:visited {
        
        color: rgb(255, 145, 0);
      }

      .link__two:link {
        
        color: rgb(243, 107, 107)
      }

     .link__two:visited {
        
        color: rgb(53, 245, 133);
      }

      .link__three:link {
        
        color: rgb(107, 204, 243)
      }

      .link__three:visited {
        
        color: rgb(148, 126, 5);
      }

      .link__four:link {
        
        color: rgb(223, 46, 184)
      }

      .link__four:visited {
        
        color: rgb(255, 38, 0);
      }
      
      .link__one, .link__two, .link__three, .link__four{
        text-decoration: none;
      }
      
      h1{
        text-align: center;
        font-size: 24px;
      }

      .par1{
        font-size: 120%;
      }