.gr{
  background-color: gray;
  color: #43c2fd;
}

.wh{
background-color: #fff;
color: black;
}

ol li:nth-child(3):hover,
ol li:nth-child(5):hover {
      cursor: pointer; 
    }

 ol li:nth-child(4){
  background: #43c2fd;
 }
 h1{text-align: center;
font-size: 22px;}

.famil{
    font-style:italic ;
}
h2{text-align: center;}